/*@tailwind base;
@tailwind components;
@tailwind utilities;
*/
:root {
    /* variables */
    --cg-black: rgb(30, 32, 32);
    --cg-blue: rgb(36, 94, 255);
    --cg-grey: rgb(243, 243, 243);
    --cg-white: rgb(255, 255, 255);
    --cg-bgrnd-green: rgb(176, 195, 163);
    --cg-egg-green: rgb(245, 253, 239);
    --cg-pastel-green: rgb(181, 208, 163);
    --cg-grey-green: rgb(75, 87, 67);
    --cg-green: rgb(66, 118, 32);
  }
  
  html {
    height: 100%;
  }
  
  body {
    background: var(--cg-bgrnd-green);
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: monospace;
  }

  .about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--cg-egg-green);
    border: 5px solid var(--cg-grey-green);
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
  }


  /*Images*/
  .aboutimage img {
    max-width: 300px;
    border-radius: 3px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  }
  
  .aboutimage :hover {
    transform: scale(1.009);
  }

  .logo a {
    font-family: Georgia;
  }
  
  .logo a:hover {
    text-decoration: None;
  }  

  main {
    padding: 0 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pageFormatting {
    padding-bottom: 50px;
  }
  
  .page-title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: Georgia;
  }
  
  /* CSS for portfolio grid */
  
  .project {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin: 1em 0 2em 0;
  }
  
  .project-description {
    font-size: 1.15em;
  }
  
  .item-link {
    width: 70%;
  }
  
  .project-image {
    object-fit: cover;
    width: 100%;
    height: 500px;
    flex-basis: 50px;
    flex-grow: 2;
    margin-left: 70px;
    margin-bottom: 10px;
    border: 5px solid var(--cg-green);
    border-radius: 5px;
  }
  
  .project-details {
    display: flex;
    background-color: var(--cg-egg-green);
    width: 30%;
    height: 400px;
    flex-shrink: 1;
    padding: 0 20px;
    margin-left: 40px;
    line-height: 1.5;
    margin-top: 45px;
    margin-right: 15px;
    border: 5px solid var(--cg-grey-green);
    border-radius: 5px;
    /*overflow: scroll;*/
  
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  
  .project-details a {
    color: var(--cg-black);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .project-details a:hover {
    text-decoration: underline;
    color:var(--cg-pastel-green);
  }
  
  .project-details {
    font-weight: lighter;
  }
  
  .project-name {
    font-weight: bold;
    font-size: 20px;
  }

  /* CSS for contact form */
  
  label {
    display: block;
    margin-bottom: 8px;
    font-family: Georgia;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  .contactTextArea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
    border: 5px solid var(--cg-grey-green);
    border-radius: 5px;
  }

  .commentEntry {
    width: 100%;
    padding: 10px;
    margin-bottom: -10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
    border: 5px solid var(--cg-grey-green);
    border-radius: 5px;
  }
  
  .usernameEntry {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    border: 3px solid var(--cg-grey-green);
    border-radius: 5px;
  }
  
  /* Add some spacing to the form */
  form {
    width: 500px;
    margin: 0 auto;
  }
  
  /* CSS for Blogs */
  
  #blogpost-container {
    font-size: 1.35em;
  }
  
  .post-title {
    margin-bottom: -10px;
  }
  .post-subtitle {
    margin-left: 25px;
    margin-bottom: -8px;
  }
  .post-description {
    margin-bottom: 5px;
  }
  .read-link-prompt {
    margin-left: 37px;
  }
  
  
  .post-preview {
    background-color: var(--cg-egg-green);
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 5px solid var(--cg-grey-green);
    padding-bottom: 20px;
  }

  /* CSS for footer */
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cg-grey-green);
    color: var(--cg-white);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    margin-top: 30px;
  }
  