.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 7%;
    z-index: 10;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  
    background-color: var(--cg-grey-green);
    color: var(--cg-white);
    padding: 0px 0px;
  
    /* Debug border */
    /* border: solid red; */
  }
  
  .navlist {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 30px;
    list-style: none;
  
    /* Debug border */
    /* border: solid blue; */
  }
  
  .navbar a {
    color: var(--cg-white);
    font-weight: bold;
    margin: 0 12px;
    text-decoration: none;
    letter-spacing: 2px;
  
    font-family: monospace;
  }
  
  .navbar ul a:hover {
    color: var(--cg-pastel-green);
    text-transform: uppercase;
    text-decoration: underline;
    display: inline
  }
  
  .navbar h1 a:hover {
    color: var(--cg-pastel-green);
    text-decoration: underline;
  }
  
  .navbar a:active {
    color: var(--cg-green);
  }
  
  .logo a {
    font-family: Georgia;
  }
  
  .logo a:hover {
    text-decoration: None;
  }
  
  /*main {
    padding: 0 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  */
  
  .page-title {
    display: inline;
    justify-content: center;
    font-size: 40px;
    font-family: Georgia;
  }

  .logo a {
    font-family: Georgia;
  }
  
  .logo a:hover {
    text-decoration: None;
  }