
.blogpostcontainer {
    align-items: center;
    align-self: center;
    text-align: center;
    overflow: hidden;
  }

  .posttitle {
    font-size: 1.5em;
    margin-bottom: -8px;
    /*margin-bottom: -10px;
    margin-left: 20px;
    margin-right: 20px;
    */
  }

  .postsubtitle {
    /*margin-left: 25px;
    margin-right: 25px;
    */
    margin-bottom: -8px;
  }
  
  .postdescription {
    /*margin-left: 25px;
    margin-right: 25px;
    */
    margin-bottom: 5px;
  }
/*
  .readlinkprompt {
    
    margin-right: 25px;
    margin-left: 25px;
    
  }
  */

  .aboutimage {
    margin-top: 10px;
    /*margin-left: 30px;*/
  }
  
  .postpreview {
    align-items: center;
    background-color: var(--cg-egg-green);
    flex: 1;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 5px solid var(--cg-grey-green);
    padding-bottom: 20px;
  }

  .spacefrombotton {
    margin-bottom: 40px;
  }

  .blogtitle {
    margin-bottom: -10px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .blogsubtitle {
    margin-left: 25px;
    margin-right: 20px;
  }
  .blogdescription {
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .blogpost {
    font-size: 1.5em;
    background-color: var(--cg-egg-green);
    flex: 1;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 80px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 5px solid var(--cg-grey-green);
    padding-bottom: 20px;
  
  }